//- Все примеси в этом файле должны начинаться c имени блока (field)

mixin field(label, id, mod, name)
	.field(class= mod)
		input.field__input(type='text', name= name, id= id, required)
		label.field__label(for= id)!= label

mixin field_phone(label, id, mod, name)
	.field(class= mod)
		input.field__input(
			type='tel',
			name= name,
			id= id,
			required)
		label.field__label(for= id)!= label

mixin field_number(label, name, id, mod, min, max)
	.field(class= mod)
		input.field__input.field__input_has-value(type='number', name= name, id= id, min= min, max= max, required)
		label.field__label(for= id)!= label
