//- Все примеси в этом файле должны начинаться c имени блока (project)

mixin project(vars)
	.project
		.project__tabs
			.project__head
				.project-thumbs.swiper
					.project-thumbs__inner.swiper-wrapper
						- for (var i = 0; i < vars.slides; ++i) {
							.project-thumbs__slide.swiper-slide
								img.project-thumbs__img(src='img/projects/' + vars.dir + '/' + vars.gallery + '__' + (('0' + (i + 1)).slice(-2)) + '_thumb.jpg', alt='')
						- }
					.swiper-button-prev.project-thumbs__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.project-thumbs__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
			.project__gallery
				.project-slider.swiper
					.project-slider__inner.swiper-wrapper
						- for (var i = 0; i < vars.slides; ++i) {
							.project-slider__slide.swiper-slide
								a.project__link(data-gallery= vars.gallery, href='img/projects/' + vars.dir + '/' + vars.gallery + '__' + (('0' + (i + 1)).slice(-2)) + '_l.jpg')
									img.project__image(src='img/projects/' + vars.dir + '/' + vars.gallery + '__' + (('0' + (i + 1)).slice(-2)) + '.jpg', alt='')
						- }
					.swiper-button-prev.project-slider__prev
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__prev')
					.swiper-button-next.project-slider__next
						svg.swiper-icon
							use(xlink:href='img/svgSprite.svg#icon__next')
		.project__info
			if vars.label
				.project__label!= vars.label
			if vars.title
				.project__title!= vars.title
			if (vars.s || vars.term)
				.project__tags
					if vars.s
						.project__tag S #{vars.s} м²
					if vars.term
						.project__tag Срок: #{vars.term}
			if vars.list
				ul.project__list
					each li in vars.list
						li.project__li!= li
			a.button.project__button(data-hystmodal='#application') Хочу так же
