//- Все примеси в этом файле должны начинаться c имени блока (project)

mixin project(tabs, info, dir)
	.project
		.project__tabs
			.project__head
				each tab, index in tabs.tab ? tabs.tab : []
					if index === 0
						.project__tab.project__tab_active(data-href= '#' + tab.href)
							img(src='img/projects/' + dir + '/img__' + tab.img + '_thumb.jpg', alt='')
					else
						.project__tab(data-href= '#' + tab.href)
							img(src='img/projects/' + dir + '/img__' + tab.img + '_thumb.jpg', alt='')
			.project__gallery
				each tab, index in tabs.tab ? tabs.tab : []
					if tabs.beforeAfter === true && index === 0
						.project__item.project__item_active(id = tab.href)
							.image-compare
								img(src='img/projects/' + dir + '/img__' + tab.before + '.jpg', alt='')
								img(src='img/projects/' + dir + '/img__' + tab.after + '.jpg', alt='')
					else if index === 0
						.project__item.project__item_active(id = tab.href)
							a.project__link(data-fslightbox= tabs.gallery, href='img/projects/' + dir + '/img__' + tab.img + '_l.jpg')
								img.project__image(src='img/projects/' + dir + '/img__' + tab.img + '.jpg', alt='')
					else
						.project__item(id = tab.href)
							a.project__link(data-fslightbox= tabs.gallery, href='img/projects/' + dir + '/img__' + tab.img + '_l.jpg')
								img.project__image(src='img/projects/' + dir + '/img__' + tab.img + '.jpg', alt='')
		.project__info
			.project__label!= info.label
			.project__title!= info.title
			.project__tags
				if info.s
					.project__tag S #{info.s} м²
				if info.term
					.project__tag Срок: #{info.term}
			ul.project__list
				each li in info.list
					li.project__li!= li
			a.button.project__button(data-hystmodal='#application') Хочу так же
